table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.ifsc {
  width: 150px;
}
.branch {
  width: 250px;
}
.bankId {
  width: 60px;
}
.bankName {
  width: 250px;
}
.address {
  width: auto;
}
.city {
  width: 100px;
}
.district {
  width: 70px;
}
.state {
  width: 100px;
}
