table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.ifsc {
  width: 100px;
}
.branch {
  width: 100px;
}
.bankId {
  width: 60px;
}
.bankName {
  width: 210px;
}
.address {
  width: 360px;
}
.city {
  width: 100px;
}
.district {
  width: 70px;
}
.state {
  width: 100px;
}
.rowData:hover {
  background-color: rgba(142, 145, 161, 0.096);
}
